<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
</ng-template>

<label for="typeahead-template">{{optionTitle}}</label>

<input
  #elem #instance="ngbTypeahead"
  (click)="click$.next($event.target.value)"
  (focus)="focus$.next($event.target.value)"
  (selectItem)="selected($event)"
  [attr.disabled]="disabled ? '' : null"
  [inputFormatter]="formatter"
  [ngbTypeahead]="search"
  [resultTemplate]="rt"
  class="form-control"
  id="typeahead-template"
  type="text"
/>
