<div class="container">

  <div class="d-flex justify-content-around mt-2">
    <app-selectsearch (selectOptionEvent)="onRegionSelect($event)" [optionTitle]=regionTitle
                      [options]="listofRegions$ | async"></app-selectsearch>
    <app-selectsearch (selectOptionEvent)="onCountrySelect($event)" [disabled]=disabled [optionTitle]=countryTitle
                      [options]="listofCountries$ | async"></app-selectsearch>
  </div>
  <div class="mt-5">
    <app-table [selectedCountries]="selectedCountries$ | async"></app-table>
  </div>

</div>
