<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Capital</th>
    <th scope="col">Population</th>
    <th scope="col">Currencies</th>
    <th scope="col">Flag</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let country of selectedCountries">
    <td>{{ country.name }}</td>
    <td>{{ country.capital }}</td>
    <td>{{ country.population | number }}</td>
    <td>{{getFormattedCurrecies(country.currencies)}}</td>
    <td><img class="mr-2" src={{country.flag}} style="width: 20px"></td>
  </tr>
  </tbody>
</table>
